@import "./variables";

body{
    background-color:$neutral-background;
    min-width: 100%;
}

.about{

    &-container{
        width: 75%;
        margin: 0 auto;
        padding-top: $navbar-height;
        display: flex;
        justify-content: space-between;
    
    }
    &-right{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        max-height: 400px;
        max-width: 450px;

        h1{
            font-weight: normal;
        }

        &-buttons{
            display: flex;

            button{
                cursor: pointer;
                padding: $button-padding;
                margin-top: $button-margin;
                margin-left: $button-margin;
    
                font-family: $font-family-main;
                font-size: large;
    
                color: $brown-effects;
                background: transparent;
                border-style: solid;
                border-width: thin;
                border-color: $brown-effects;
            }

        }
        

    }
    &-left{
        img{
            width: auto;
            height: 400px;
        }
        
    }

}
