@import "./variables";

body{
    background-color:$neutral-background;
    min-width: 100%;
}

.about{

    &-container{
        width: $global-central-width;
        margin: 0 auto;
        padding-top: $navbar-height;
        display: flex;
        gap: $gap-between-sides;
    
    }
    &-left{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-self: center;

        &-buttons{
            display: flex;
            gap:$button-margin;

            button{
                cursor: pointer;
                padding: $button-padding;
                margin-top: $button-margin;
    
                font-family: $font-family-main;
                font-size: large;
    
                color: $brown-effects;
                background: transparent;
                border-style: solid;
                border-width: thin;
                border-radius: $button-border-radius;
                border-color: $brown-effects;

            }

        }
        

    }
    &-right{
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
        
    }

}

@media(max-width: 768px) {

    .about{
        &-container{
        flex-direction: column;
        }

        &-left{
            text-align: center;
            &-buttons{
                align-self: center;
            }

        }

        &-right{
            padding-top: 3rem;

        }
    }
    
}
