@import "./variables";

.art{
    &-container{
        width: $gallery-central-width;
        margin: 0;
        padding-top: $navbar-height;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;
        justify-content: center;

    }

    &-gallery{
        display: flex;
        gap: $gap-between-photos;
        justify-content: center;

        .collumn{
            display: flex;
            flex-direction: column;
            gap: $gap-between-photos;
            // width: 100%;
        }

        .photo{

            img{
                width: 100%;
                height: auto;
                border-radius: $photo-border-radius;

            }
            
        }
    }


}

@media(max-width: 768px) {

    .art-gallery{
        flex-direction: column;
    }
    
}