@import "./variables";

.art {
    &-container {
        width: $gallery-central-width;
        margin: 0;
        padding-top: $navbar-height;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;
        justify-content: center;

    }

    &-gallery {
        column-count: 3;
        column-gap: $gap-between-photos;

        .photo {
            break-inside: avoid;
            margin-bottom: $gap-between-photos;

            img {
                width: 100%;
                height: auto;
                border-radius: $photo-border-radius;
                display: block;
            }
        }
    }


}




@media (max-width: 1024px) {
    .art-gallery {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .art-gallery {
        column-count: 1;
    }
}