@import './_variables.scss';

.contact{
    &-container{
        width: $global-central-width;
        margin: 0 auto;
        padding-top: $navbar-height;
        display: flex;
        flex-direction: column;
        text-align: center;


    }
}