@import './variables';

.creations{
    &-container{
        width: $global-central-width;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $navbar-height;

    }

    &-bottom{
        display: flex;
    }

    &-fruits{
        display: flex;
        flex-direction: column;
        align-items: center;

        .link{
            color: $brown-text;
            font-size: 16px;
            text-decoration: none;
            transition: all 0.3s ease 0;

            &:hover{
                color: $brown-effects;
            }

            p{
                position: relative;
            }

            p::after {
                content: '';
                position: absolute;
                width: 100%;
                width: 0;
                height: $animation-height;
                bottom: $animation-bottom;
                left: $animation-left;
                border-radius: $animation-border-radius;
                background-color: $brown-text;
                transition: width .2s;
            }
            p:hover:after{
                width: 100%;
            }
        }
        
        img{
            width: 270px;
            height: 250px;
        }

    }

}

@media(max-width: 768px) {

    .creations-bottom{
        flex-direction: column;
    }
    
}