@import './variables';

.footer{
    &-container{
        width: 100%;
        height: $navbar-height;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: auto;
        position: relative;

        padding-top: $navbar-height;

    }
    &-email{
        a{
            color: $brown-text;
            &:hover{
                color: $purple-lighter;
            }
        }
    }
    &-copyright{
        p{
            font-family: $font-family-main;
        }
        
    }

    
    &-icons{
        display: flex;
        gap:15px;

        .icon{
            color: $brown-text;
            &:hover{
                color: $brown-effects;
            }
        }
    }


}
