@import "./variables";

.hero-container{
    padding-top: $navbar-height;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $cool-background;
    min-width: 100%;


    &-logo{
        img{
            margin-top: $hero-vertical-margin;
            height: 100px;
            width: 100px;
        }
    }

    &-text{
        margin: 0;
        margin-bottom: $hero-vertical-margin;
        text-align: center;
        
        h1{
            font-size: 80px;
            margin: 0;
        }
        h3{
            font-size: 40px;
            margin: 0;
        }
        h1, h3{
            font-weight: normal;
        }
    }
}


@media (max-width: 768px) {
    .hero-container {
        &-logo {
            img {
            height: 70px;
            width: 70px;
            margin-top: $hero-vertical-margin;
            }
        }
    
        &-text {
            margin-bottom: $hero-vertical-margin;
    
            h1 {
            font-size: 48px;
            }
    
            h3 {
            font-size: 24px;
            }
        }
    }
}
