@import "./variables";
.navbar{
    background-color: $cool-background;
    height: $navbar-height;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &-logo{
        margin-left: $side-margin;
        img{
            width: $logo-lang-width;
            height: auto;
        }
    }
    &-lang{
        margin-right: $side-margin;
        width: $logo-lang-width;
        height: auto;

        &-button{
            border: none;
            background-color: transparent;
            color: $brown-text;
            font-family: $font-family-main;
            font-weight: bold;
            text-decoration: underline;

            &:hover{
                color: $brown-effects;
            }

        }
    }

    &-links{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $gap-between-items;
        list-style: none;

        li{

            .link{
                color: $brown-text;
                font-family: $font-family-main;
                font-size: 16px;
                text-decoration: none;
                transition: all 0.3s ease 0;

                &:hover{
                    color: $brown-effects;
                }
            }

        }

    }
    
}