@import "./variables";
.navbar{
    background-color: $cool-background;
    height: 5rem;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;

    &-links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

        li, .link{
            color: $brown-text;
            font-family: $font-family-main;
            font-size: 16px;
            text-decoration: none;
            transition: all 0.3s ease 0;
        }

        li, .link:hover{
            color: $brown-effects;
        }

        li{
            padding: 0 15px;
        }

    }
    
}