@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Italiana&display=swap');

/* Colours */
$cool-background: #DBD9CD;
$neutral-background:#ECE3DE;
$brown-effects: #6B5448;
$brown-text:#2F2E2C;

/* Text */
$font-family-main:"Italiana", sans-serif;

$scroll-bar-width: 0.25rem;

/* Nav Bar Variables */
$navbar-width: 5 rem;