@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Colours */
$cool-background: #DBD9CD;
$neutral-background:#ECE3DE;
$brown-effects: #6B5448;
$brown-text:#2F2E2C;
$purple-deep: #36344D;
$purple-lighter: #64567C;

/* Text */
$font-family-main:"Italiana", sans-serif;
$font-family-subtext: "Montserrat", sans-serif;

$scroll-bar-width: 0.25rem;

/* Nav Bar Variables */
$navbar-height: 5rem;
$gap-between-items: 35px;
$side-margin: 1rem;
$logo-lang-width: 60px;

/* Hero Variables */
$hero-vertical-margin: 2rem;

/* Centralized Page Pattern */
$global-central-width: 75%;

/* Button Padding and Margin */
$button-padding: 0.5rem;
$button-margin: 1rem;

/* Art Page Variebles*/
$gap-between-photos: 20px;
$photo-border-radius: 5px;